name: Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: self-hosted
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with: 
          ref: main
      
      - name: Login to Docker Hub
        run: |
          echo ${{ secrets.DOCKER_PASSWORD }} | podman login --username ${{ secrets.DOCKER_USERNAME }} docker.io --password-stdin

      - name: Build and push Docker image
        run: |
          podman build -t docker.io/flooffyboi768/dubinsky-kubsu .
          podman push docker.io/flooffyboi768/dubinsky-kubsu

      - name: Deploy to Ubuntu server
        run: |
          podman pull flooffyboi768/dubinsky-kubsu
          podman run --replace --name dubinsky --network host flooffyboi768/dubinsky-kubsu
           